body{
    background-color: orchid;
    font-style: initial;
    font-size: 24px;
    
}

button{
    background-color: palegreen;
    font-style: italic;
    font-size: 16px;
    border-color: gold;
}